
.gth-home {
  cursor: pointer;
}

.gth-nav {
  padding: 0 3px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: #F90050;
  font-size: 4.8vw;
  border-bottom: none;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  .gth-nav {
    font-size: 7.7vw;
  }
}

@media only screen
and (min-device-width: 480px)
and (max-device-width: 1280px)
and (-webkit-min-device-pixel-ratio: 2) {
  .gth-nav {
    font-size: 5.7vw;
  }
}

.gth-nav__controls {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 5px;
}

a {
  color: #F90050;
}

.gth-nav__controls div, .gth-nav div {
  padding: 5px;
}
