
.gth-home {
  cursor: pointer;
}

.gth-nav {
  padding: 0 3px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: #F90050;
  font-size: 4.8vmax;
  border-bottom: none;
}

.gth-nav__controls {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 5px;
}

.gth-nav__controls div, .gth-nav div {
  padding: 5px;
}
