
.gth-resume {
  border-bottom: none;
  /*font-size: 1.5vw;*/
}

.body__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.body__info h3 {
  padding: 0 10px;
}
