
.gth-resume {
  border-bottom: none;
  /*font-size: 1.5vw;*/
}

.body__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen
and (min-device-width: 319px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  .body__info {
    display: block;
  }
}

