.gth-blog {
  border-bottom: none;
}

.gth-card--blog {
  cursor: pointer;
}

.gth-card__header--text {
  background-color:black;
}

.gth-card__header--wrapper {
  position: relative;
}

.card__body--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gth-card__controls button {
  background-color: black;
  color: white;
  font: inherit;
  font-size: 20px;
  padding: 0.5em;
  width: 100%;
  border: none;
}


