
.gth-card--blog {
  cursor: pointer;
}

.gth-card__header--text {
  background-color:black;
  /*position: absolute;*/
}

.gth-card__header--wrapper {
  position: relative;
}

.card__body--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

