
.gth-splash {
  text-align: center;
  width: calc(100vw - 108px);
  height: 68.5vh;
  background: black;
  color:white;
  padding: 0 50px;
  border-bottom: 0;
}

.gth-profile {
  width: 195px;
  height: 195px;
}
